.header {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
}

body {
	
    background-image: url("http://wallpapercave.com/wp/o1OZNln.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    
     }

.movie-item {
	float: left;
	padding: 15px 10px;
	width: 100%;
}

.movies-list {
	margin-bottom: 10px;
}

.movie-item-link .movie-item {
	color: white;
}
.movie-item-link:hover {
	text-decoration: none;
	cursor: pointer;
}

.movie-item:hover {
	background-color: black !important;
	color: white !important;
}

.movie-item .item-title {
	margin: 0;
	float: left;
	font-size: 25px;
	font-weight: 600;
	max-width: 80%;
}
.movie-item .item-release-date {
	margin: 0;
	padding-top:5px;
	font-style: italic;
	float: right;
	max-width: 20%;
	text-align: right;
}

.inner-addon { 
		position: relative; 
}

.search-bar .movie-search {
	height: 50px;
	font-size: 18px;
	padding-left: 15px;
}

.tagline {
	font-weight: 600;
	font-style: italic;
}

.summary {
	margin-top: 15px;
}

.review-detail {
	padding: 15px 0;
}

.trailers {
	margin: 15px 0;
	padding: 10px 0;
	text-align: center;
}
.trailer {
	padding: 15px 0;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 15px;
	pointer-events: none;
	font-size: 18px;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }